.recipe {
  .image {
    width: 100%;
    border-radius: 4px;
  }

  .content {
    h1 {
      font-size: 16px;
      margin-top: 8px;
    }
    p {
      font-size: 12px;
      line-height: 0;
      color: #8899a6;
    }
  }
}
