<div class="row mt-5" *ngIf="recipe">
  <section class="col-6 offset-1">
    <h1>{{recipe.name}}</h1>
    <p>{{recipe.source['displayName'] | uppercase}}</p>
    <section class="d-flex">
      <p>{{recipe.ingredients.length}} ingredients</p>
      <p>{{recipe.duration}}</p>
    </section>
    <a [href]="recipe.source['recipeUrl']"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="Read Directions">Read Directions</a>
  </section>
  <div class="col-5">
    <img [src]="(recipe.imageUrl | slice:0:-3) + 's680-c-rj-v1-e365'" alt="">
  </div>
  <div class="col-10 offset-2">
    <p>{{recipe.servings}} servings</p>
    <h2>Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
  </div>
</div>
