$font-stack: 'Montserrat', sans-serif;

.card {
  .header {
    position: relative;

    img {
      width: 100%;
      border-radius: 4px;
    }
    p {
      position: absolute;
      bottom: -2px;
      right: 10px;
      padding: 3px 6px;
      border-radius: 4px;
      background-color: #243447;
      font-family: $font-stack;
      font-size: 14px;
    }
  }

  .content {
    h1 {
      font-family: $font-stack;
      font-size: 15px;
    }
    p {
      font-family: $font-stack;
      font-size: 12px;
      line-height: 0;
      color: #8899a6;
    }
  }
}
