@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "~semantic-ui-css/semantic.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  border-radius: 10px;
}
