@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

@import "~bootstrap/scss/bootstrap-grid.scss";

body {
  background-color: #141d26;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  border-radius: 10px;
}
